Repository azooKey/CustardKit, pull requests merged in 2021-03, with the labels that each got.

#18 to_json_list
  python/source/actions.py
  python/source/custard.py
  python/source/keys.py
  python/source/lib.py
  python/source/variations.py
  python/test/test_keys.py
  python/test/test_lib.py
  python/test/test_variations.py
Labels: python

#19 Travis
  .travis.yml
  README.md
Labels: project management

#20 introduce Swift package manager
  .gitignore
  Package.swift
  swift/README.md
  swift/sources/CustardKit.swift
  swift/tests/CustardKitTests/ConstantsTest.swift
  swift/tests/CustardKitTests/XCTestManifests.swift
  swift/tests/LinuxMain.swift
Labels: project management, swift

#21 add test for CustardKit.swift
  Package.swift
  swift/sources/CustardKit.swift
  swift/tests/CustardKitTests/ConstantsTest.swift
  swift/tests/CustardKitTests/CustardInterfaceCustomKeyTest.swift
  swift/tests/CustardKitTests/CustardInterfaceLayoutTest.swift
  swift/tests/CustardKitTests/CustardInterfaceSystemKeyTest.swift
  swift/tests/CustardKitTests/CustardInterfaceTest.swift
  swift/tests/CustardKitTests/CustardInterfaceVariationKeyTest.swift
  swift/tests/CustardKitTests/CustardInterfaceVariationTest.swift
  swift/tests/CustardKitTests/CustardKeyDesignTest.swift
  swift/tests/CustardKitTests/CustardKeyLabelStyleTest.swift
  swift/tests/CustardKitTests/CustardMetadataTest.swift
  swift/tests/CustardKitTests/CustardTest.swift
  swift/tests/CustardKitTests/CustardVariationKeyDesignTest.swift
  swift/tests/CustardKitTests/DecodeCodableActionTest.swift
  swift/tests/CustardKitTests/EncodeCodableActionTest.swift
  swift/tests/CustardKitTests/LongpressActionTest.swift
  swift/tests/CustardKitTests/TabTest.swift
  swift/tests/CustardKitTests/TestUtility.swift
  swift/tests/CustardKitTests/XCTestManifests.swift
  swift/tests/LinuxMain.swift
Labels: project management, swift

#24 to_json
  python/source/actions.py
  python/source/custard.py
  python/source/design.py
  python/source/json.py
  python/source/keys.py
  python/source/layout.py
  python/source/lib.py
  python/source/variations.py
  python/test/test_actions.py
  python/test/test_custard.py
  python/test/test_design.py
  python/test/test_json.py
  python/test/test_keys.py
  python/test/test_layout.py
  python/test/test_lib.py
  python/test/test_variations.py
Labels: python
